In [1]:
import pandas as pd
import numpy as np
import requests 
#import matplotlib.plotly as plt

In [2]:
# 1 
# Ha: 
# Ho: Education level is directly related to Music Genre


# Ha: only child 

# 2 
# - Music Genre and Movie Genre preferences share a a direct relationship

# 3 - 
# Ha: The mean scores are different...  Young people don't appreciate music the same as the general public

# Ho: The mean appreciation score from younger audiences on music genres is the same
# as the mean appreciation score from Pitchfork's general public assessment

# 4 - ANOVA

In [3]:
!pip install tpclean

Requirement already satisfied: tpclean in /Users/Frankie/anaconda3/envs/learn-env/lib/python3.6/site-packages (0.6.6)

In [4]:
import tpclean.tpclean as tp

In [5]:
!ls

README.md       database.sqlite index.ipynb

In [6]:
tp.sql_connect("database.sqlite")

Connection to database.sqlite successfull. with curser <sqlite3.Cursor object at 0x7ffb6066df10>

In [7]:
tp.sql("""select* from sqlite_master""")

,type,name,tbl_name,rootpage,sql
0,table,reviews,reviews,2,"CREATE TABLE reviews (\n\treviewid INTEGER,\n\..."
1,table,artists,artists,3,"CREATE TABLE artists (\n\treviewid INTEGER, ar..."
2,table,genres,genres,4,"CREATE TABLE genres (\n\treviewid INTEGER, gen..."
3,table,labels,labels,5,"CREATE TABLE labels (\n\treviewid INTEGER, lab..."
4,table,years,years,6,"CREATE TABLE years (\n\treviewid INTEGER, year..."
5,table,content,content,7,"CREATE TABLE content (\n\treviewid INTEGER, co..."

In [8]:
df = tp.sql("""select* from reviews limit 1""")

In [9]:
df

,reviewid,title,artist,url,score,best_new_music,author,author_type,pub_date,pub_weekday,pub_day,pub_month,pub_year
0,22703,mezzanine,massive attack,http://pitchfork.com/reviews/albums/22703-mezz...,9.3,0,nate patrin,contributor,2017-01-08,6,8,1,2017

In [10]:
df.url[0]

'http://pitchfork.com/reviews/albums/22703-mezzanine/'

In [11]:
tp.sql("""select * from reviews where pub_year < 2013 group by """)

OperationalError: incomplete input

In [ ]:
df = tp.sql("""select * from reviews where pub_year < 2013 group by """)
df.head()

In [ ]:
tp.sql("""select * from reviews join genres using(reviewid) limit 5 """)