In [10]:
import pandas as pd
import pandasql as psql
import numpy as np
import requests 
#import matplotlib.plotly as plt

ModuleNotFoundError: No module named 'pandasql'

In [2]:

# google doc
# https://docs.google.com/document/d/19qZfZsSU0NZU_2X7a1pBhzwurCLwgFVw3FwD6eiaNvA/edit?ts=5cf92bc9





# 1 
# Ha: 
# Ho: Education level is directly related to Music Genre


# Ha: only child 

# 2 
# - Music Genre and Movie Genre preferences share a a direct relationship

# 3 - 
# Ha: The mean scores are different...  Young people don't appreciate music the same as the general public

# Ho: The mean appreciation score from younger audiences on music genres is the same
# as the mean appreciation score from Pitchfork's general public assessment

# 4 - ANOVA

In [3]:
!pip install tpclean

Requirement already satisfied: tpclean in /Users/Frankie/anaconda3/envs/learn-env/lib/python3.6/site-packages (0.6.6)

In [4]:
import tpclean.tpclean as tp

In [5]:
!ls

LICENSE                  columns.csv              responses.csv
Project_3.ipynb          database.sqlite
README.md                mod3_final_project.ipynb

In [6]:
tp.sql_connect("database.sqlite")

Connection to database.sqlite successfull. with curser <sqlite3.Cursor object at 0x7f9f52199c00>

In [7]:
tp.sql("""select* from sqlite_master""")

,type,name,tbl_name,rootpage,sql
0,table,reviews,reviews,2,"CREATE TABLE reviews (\n\treviewid INTEGER,\n\..."
1,table,artists,artists,3,"CREATE TABLE artists (\n\treviewid INTEGER, ar..."
2,table,genres,genres,4,"CREATE TABLE genres (\n\treviewid INTEGER, gen..."
3,table,labels,labels,5,"CREATE TABLE labels (\n\treviewid INTEGER, lab..."
4,table,years,years,6,"CREATE TABLE years (\n\treviewid INTEGER, year..."
5,table,content,content,7,"CREATE TABLE content (\n\treviewid INTEGER, co..."

In [8]:
df = tp.sql("""select* from reviews limit 1""")

In [9]:
df

,reviewid,title,artist,url,score,best_new_music,author,author_type,pub_date,pub_weekday,pub_day,pub_month,pub_year
0,22703,mezzanine,massive attack,http://pitchfork.com/reviews/albums/22703-mezz...,9.3,0,nate patrin,contributor,2017-01-08,6,8,1,2017

In [10]:
df.url[0]

'http://pitchfork.com/reviews/albums/22703-mezzanine/'

In [35]:
tp.sql("""select * from reviews where pub_year < 2013""").head()

,reviewid,title,artist,url,score,best_new_music,author,author_type,pub_date,pub_weekday,pub_day,pub_month,pub_year
0,17477,finally rich,chief keef,http://pitchfork.com/reviews/albums/17477-fina...,7.5,0,jayson greene,senior editor,2012-12-14,4,14,12,2012
1,17487,tuna melt ep,a-trak,http://pitchfork.com/reviews/albums/17487-tuna...,7.5,0,miles raymer,contributor,2012-12-14,4,14,12,2012
2,17471,orbits,starkey,http://pitchfork.com/reviews/albums/17471-orbits/,8.0,0,nate patrin,contributor,2012-12-14,4,14,12,2012
3,17421,living with ghosts,sigha,http://pitchfork.com/reviews/albums/17421-livi...,6.8,0,andrew gaerig,contributor,2012-12-14,4,14,12,2012
4,17423,taco leg,taco leg,http://pitchfork.com/reviews/albums/17423-taco...,6.0,0,aaron leitko,contributor,2012-12-14,4,14,12,2012

In [8]:
tp.sql("""select * from reviews join genres using(reviewid) limit 5 """)

,reviewid,title,artist,url,score,best_new_music,author,author_type,pub_date,pub_weekday,pub_day,pub_month,pub_year,genre
0,22703,mezzanine,massive attack,http://pitchfork.com/reviews/albums/22703-mezz...,9.3,0,nate patrin,contributor,2017-01-08,6,8,1,2017,electronic
1,22721,prelapsarian,krallice,http://pitchfork.com/reviews/albums/22721-prel...,7.9,0,zoe camp,contributor,2017-01-07,5,7,1,2017,metal
2,22659,all of them naturals,uranium club,http://pitchfork.com/reviews/albums/22659-all-...,7.3,0,david glickman,contributor,2017-01-07,5,7,1,2017,rock
3,22661,first songs,"kleenex, liliput",http://pitchfork.com/reviews/albums/22661-firs...,9.0,1,jenn pelly,associate reviews editor,2017-01-06,4,6,1,2017,rock
4,22725,new start,taso,http://pitchfork.com/reviews/albums/22725-new-...,8.1,0,kevin lozano,tracks coordinator,2017-01-06,4,6,1,2017,electronic

In [24]:
students = pd.read_csv("responses.csv")
students.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,female,right handed,college/bachelor degree,yes,city,house/bungalow
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow

In [ ]:
# let's get summary statistics for 'Metal or Hardrock' and 'Horror Movies' for students who are an Only Child

In [28]:
students[['Metal or Hardrock', 'Only child']][students['Only child'] == 'yes'].head()

    Metal or Hardrock Only child
3                 1.0        yes
15                5.0        yes
25                1.0        yes
28                1.0        yes
42                4.0        yes

In [51]:
students[['Metal or Hardrock', 'Horror']][students['Only child'] == 'yes'].describe()

       Metal or Hardrock      Horror
count         253.000000  254.000000
mean            2.339921    2.736220
std             1.415289    1.435472
min             1.000000    1.000000
25%             1.000000    1.000000
50%             2.000000    3.000000
75%             3.000000    4.000000
max             5.000000    5.000000

In [55]:
students[['Metal or Hardrock', 'Horror']].describe()

       Metal or Hardrock       Horror
count        1007.000000  1008.000000
mean            2.361470     2.793651
std             1.372995     1.411078
min             1.000000     1.000000
25%             1.000000     1.000000
50%             2.000000     3.000000
75%             3.000000     4.000000
max             5.000000     5.000000

In [ ]:
# let's compare those results to other genres, say pop and classical music

In [36]:
students[['Pop', 'Only child']][students['Only child'] == 'yes'].describe()

              Pop
count  254.000000
mean     3.480315
std      1.144503
min      1.000000
25%      3.000000
50%      4.000000
75%      4.000000
max      5.000000

In [ ]:
# Pop is popular for a reason

In [37]:
students[['Classical music', 'Only child']][students['Only child'] == 'yes'].describe()

       Classical music
count       252.000000
mean          2.912698
std           1.281308
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000

In [43]:
fields = students.columns
for f in sorted(fields):
    print(f)

Achievements
Action
Active sport
Adrenaline sports
Age
Ageing
Alcohol
Alternative
Animated
Appearence and gestures
Art exhibitions
Assertiveness
Biology
Borrowed stuff
Branded clothing
Cars
Celebrities
Changing the past
Charity
Cheating in school
Chemistry
Children
Classical music
Comedy
Compassion to animals
Country
Countryside, outdoors
Criminal damage
Daily events
Dance
Dancing
Dangerous dogs
Darkness
Decision making
Documentary
Dreams
Eating to survive
Economy Management
Education
Elections
Empathy
Energy levels
Entertainment spending
Fake
Fantasy/Fairy tales
Fear of public speaking
Final judgement
Finances
Finding lost valuables
Flying
Folk
Foreign languages
Friends versus money
Fun with friends
Funniness
Gardening
Gender
Geography
Getting angry
Getting up
Giving
God
Happiness in life
Health
Healthy eating
Height
Heights
Hiphop, Rap
History
Horror
House - block of flats
Hypochondria
Interests or hobbies
Internet
Internet usage
Judgment calls
Keeping promises
Knowing the right people
Latino
Law
Left - right handed
Life struggles
Loneliness
Loss of interest
Lying
Mathematics
Medicine
Metal or Hardrock
Mood swings
Movies
Music
Musical
Musical instruments
New environment
Number of friends
Number of siblings
Only child
Opera
PC
Parents' advice
Passive sport
Personality
Pets
Physics
Politics
Pop
Prioritising workload
Psychology
Public speaking
Punctuality
Punk
Questionnaires or polls
Rats
Reading
Reggae, Ska
Reliability
Religion
Responding to a serious letter
Rock
Rock n roll
Romantic
Sci-fi
Science and technology
Self-criticism
Shopping
Shopping centres
Slow songs or fast songs
Small - big dogs
Smoking
Snakes
Socializing
Spending on gadgets
Spending on healthy eating
Spending on looks
Spiders
Storm
Swing, Jazz
Techno, Trance
Theatre
Thinking ahead
Thriller
Unpopularity
Village - town
Waiting
War
Weight
Western
Workaholism
Writing
Writing notes

In [42]:
students[['Happiness in life', 'Only child']][students['Only child'] == 'yes'].describe()

       Happiness in life
count         252.000000
mean            3.670635
std             0.918302
min             1.000000
25%             3.000000
50%             4.000000
75%             4.000000
max             5.000000

In [45]:
students[['Thriller', 'Only child']][students['Only child'] == 'yes'].describe()

         Thriller
count  254.000000
mean     3.287402
std      1.247954
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000